<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devaon.dietbulanan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoTitle">
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu_diet"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ContentMenuActivity"
            android:label="@string/detail_menu_diet"
            android:parentActivityName=".MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity
            android:name=".ProgramActivity"
            android:label="@string/program_diet"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".JadwalActivity"
            android:label="@string/jadwal_program_diet"
            android:parentActivityName=".ProgramActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgramActivity" />
        </activity>
        <activity
            android:name=".ContentProgramActivity"
            android:label="Detail Program Diet"
            android:parentActivityName=".JadwalActivity"
            android:theme="@style/AppThemeNoTitle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JadwalActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>